body {
    font-family: Arial, sans-serif;
}

.tab {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.tab button.active {
    background-color: #0056b3;
    color: white;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: 2px solid #0056b3;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label, input, button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
}
