/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Philosopher', sans-serif;
    color: #333;
}

.banner {
    background-color: #0056b3;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.button-container {
    margin-top: 20px;
}

.button {
    text-decoration: none;
    color: #0056b3;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Sansumi';
    font-weight: bold;
    font-style: normal;
}

.features {
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.feature-item {
    margin: 20px 0;
    font-family: 'Aaargh';
    font-weight: bold;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.loader {
    height: 2px;
    width: 100vh;
    background: rgb(44, 44, 44);
    position: relative;
    overflow: hidden;
  }
  .loader .black_overlay {
    background: linear-gradient(
      87deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.14) 30%,
      rgba(0, 0, 0, 0.14) 70%,
      rgb(0, 0, 0) 100%
    );
    position: absolute;
    inset: 0px;
  }
  .loader .light {
    width: 70px;
    height: 100%;
    position: absolute;
    left: -20%;
    top: 0px;
    background: linear-gradient(
      87deg,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 204, 255) 40%,
      rgb(0, 204, 255) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-animation: light 2s infinite ease-in-out;
    animation: light 2s infinite ease-in-out;
  }
  
  @-webkit-keyframes light {
    from {
      left: -30%;
    }
    to {
      left: 100%;
    }
  }
  
  @keyframes light {
    from {
      left: -30%;
    }
    to {
      left: 100%;
    }
  }
  
